{% liquid
  assign product = product
  assign first_variant = product.variants.first
%}

<article class="p-20 js-variant-switcher-product" itemscope itemtype="https://schema.org/Product">
  <div class="relative js-variant-switcher-product-sale-label">
    {% if first_variant.compare_at_price > first_variant.price and first_variant.available == true %}
      <span class="absolute top-[20px] left-[20px] py-[6px] px-[12px] font-bold border-[1px] border-error rounded-full text-error z-10">
        {{ 'products.product.on_sale' | t }}
      </span>
    {% endif %}
  </div>
  {% render 'product-card-image',
    product: product,
    class: 'js-variant-switcher-product-link mb-4',
    primary_image_class: 'js-variant-switcher-product-primary-image',
    secondary_image_class: 'js-variant-switcher-product-secondary-image'
  %}

  {% render 'variant-switcher', product: product, class: 'mb-4' %}

  <div class="flex gap-[6px] flex-col">
    <p class="text-default text-[14px]">
      {{ product.collections.first.title }}
    </p>
    <h3 itemprop="name" class=" text-primary hover:opacity-80">
      <a href="{{ product.url }}" class="block text-[16px] js-variant-switcher-product-link">{{ product.title }}</a>
    </h3>

    {% render 'product-card-price', product: product, price_class: 'js-variant-switcher-product-price' %}
  </div>
</article>
